@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap');

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.top-header {
  height: 80px;
  background: grey;
}

.top-header h1 {
  font-size: 2em;
  line-height: 2em;
  padding: 0;
  margin: 0;
}

.landing {
  box-sizing: border-box;
  height: auto;
  padding: 0 10% 20px 10%;
}

h4 {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  line-height: 1rem;
}

.landing section ul {
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}